*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-disc{
    border-radius:10px;
    color: #fff;
    padding: 15px;
    height: 160px;
    width: 215px;
    background-color:rgb(174, 93, 93);
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: column;
    h3{
        text-align: center;
    }
    div {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        justify-content:space-between;
    }
}